.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

/* 로고 */
.header h1 {
  font-size: 36px;
  font-weight: 900;
  cursor: pointer;
}

/* 네비 */
.nav {
  display: flex;
  gap: 30px;
}

/* 버튼 초기화 */
.nav button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #777;
  padding: 0;
  transition: 0.2s;
}

/* hover */
.nav button:hover {
  color: #000;
}

/* 활성화 */
.nav button.active {
  color: #000;
  font-weight: 600;
}